@media (max-width: 1200px) {
    .resume {
        &__wrapper {
            padding: 62px 20px 0 20px;
            column-gap: 80px;
            grid-template-columns: 420px 420px;
        }
    }
}

@media (max-width: 991px) {
    .resume {
        &__wrapper {
            padding: 50px 0 0 0;
            column-gap: 50px;
            grid-template-columns: repeat(2, minmax(330px, auto));
        }
    }
}

@media (max-width: 767px) {
    .resume {
        padding-top: 60px;
        &__wrapper {
            padding: 42px 12px 0 15px;
            grid-template-columns: 100%;
            grid-auto-rows: auto;
            row-gap: 40px;
        }
    }
}

@media (max-width: 575px) {
    .resume {
        padding-top: 40px;
    }
}