@media (max-width: 767px) {
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57% / cover;
        &__btns {
            margin-top: 32px;
        }
    }
}